.complex-form {
  padding: 20px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  transition: all 1s;
  overflow: hidden;
}

.upload {
  height: 0px;
}

.drop {
  height: 300px;
}

.authentication{
  width: 400px;
}

.complex-form .form-title {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
  color: #317773;
}

.complex-form .form-title-big{
  font-size: 25px;
  font-family: Verdana, Tahoma, sans-serif;
  margin-bottom: 30px;
  color: black;
}

.complex-form .form-element {
  margin-bottom: 10px;
  font-size: 15px;
  font-family: sans-serif;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  border: 2px solid rgba(0, 0, 0, 0.466);
  background-color: #fdfaff;
}


.complex-form .form-element:focus {
  outline: none;
  border: 2px solid #317773;
}

textarea {
  resize: none;
}
